html 
  head
    title API Client 
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style(type="text/css").
      body {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-rows: 2fr 1fr;
        width: 100vw;
        height: 100vh;
        font-family: sans-serif;
        background-color: #84a78d;
      }

     